@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  margin: 0;
  background-color: #282c34;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.App {
  /* max-width: 70rem; */
  margin: 2rem auto;
  padding: 0rem;
  /* Padding for smaller screens */
}

.CharacterList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.Character {
  display: flex;
  flex-direction: column;
  /* Stack the details vertically on smaller screens */
  background-color: #272b30;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 100%;
  /* Full width on smaller screens, override as needed on larger screens */
}

.Character-conte {
  margin-left: 2rem;
}

.Character-episode {
  margin-top: 2rem;
}

.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  /* Ensure the navbar is above other content */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #282c34;
  color: white;
}

.nav-links {
  display: flex;
  flex-direction: row;
}

.nav-link {
  color: white;
  text-decoration: none;
  margin: 0 10px;
  font-size: 1rem;
  font-weight: bold;
  transition: color 0.3s;
}

.nav-link:hover {
  color: #61dafb;
}

.search-input {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 4px;
  border: none;
  outline: none;
  width: 100%;
  /* Full width on smaller screens */
}

.search-input {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

button {
  padding: 0.6rem 1rem;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #45a049;
}

button:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.loading {
  color: #FFA500;
  font-style: italic;
}

.error {
  color: #FF6347;
  font-weight: bold;
}

.results-list {
  margin-top: 10px;
  list-style-type: none;
  padding-left: 0;
}

.results-list li {
  background-color: #35435e;
  padding: 8px;
  margin-top: 5px;
  border-radius: 5px;
}


@media (max-width: 768px) {
  .nav-bar {
    padding: 0.5rem 1rem;
    /* Smaller padding for smaller screens */
  }

  .nav-links {
    display: none;
    /* Optionally hide links on very small screens */
  }

  .search-input {
    width: auto;
    /* Adjust width based on available space */
    flex-grow: 1;
    /* Make search input grow to available space */
  }

  .App {}

  .Character {
    flex-direction: column;
    align-items: center;
  }
}